<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="exercises.ElementLocators"/>
      <class name="exercises.DemoSwagLabsTesting"/>
      <class name="exercises.DriverManager"/>
      <class name="exercises.RadioButton"/>
      <class name="exercises.DropDownMenu"/>
      <class name="exercises.Clicking"/>
      <class name="exercises.CheckBoxes"/>
      <class name="exercises.TestNG"/>
      <class name="exercises.Locators"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
